/* styles.css */
.okno{
    width: 700px;
    height: 600px;
}

.chat-window-1,
.chat-window-2
{
    border: 1px solid black;
    border-radius: 3px;
    width: 380px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.message
{
    border: 1px solid black;
    border-radius: 3px;
    width: 380px;
    height: 26px;
    margin-top: 2px;
    margin-left: 10px;
}
.message-label
{
    margin-top: 10px;
    margin-left: 10px;
}
.buttons
{
    margin-top: 50px;
    margin-right: 10px;
    text-align: right;
}
.leftwindow
{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-right: none;
}

.rightwindow
{
    width: 400px;
    height: 400px;
    border-left: none;
    border: 2px solid black;
}

.grid-item {
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.my-message{
    text-align: right;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
}
.other-message{
    text-align: left;
    border-color: #ccc;
    background-color: #ddd
}
.top-5-percent {
    margin-top: 5%;
}

/* Add styles here to customize the appearance of your app */